
body{
    background-image: 
    url(keith-misner-h0Vxgz5tyXA-unsplash.jpg);
    background-repeat: no-repeat;
     background-size: cover;
     background-attachment: fixed;
}
 
.nav-bar ul li a
{
  text-decoration: none;
 

}
.nav-bar ul 
{
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.nav-bar ul{
  color: beige;
  padding: 20px 30px;
  border: solid transparent;
  border-radius: 30px;
  background-color:transparent;
  background-attachment: sticky;
  margin-top: 10px;
  list-style-type: none;
}
.bar
{
 padding: 10px 20px;
 border-radius: 30px;
 font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 cursor: pointer;
 background-color: #F5F5DC;
}
.bar:hover
{
  background-color: #735557 ;
  transition-duration: 0.3s;
  transform: scale(1.3);
}
.image
{
  width: 400px;
  height: 250px;
  margin-top: 40px;
  border-radius: 30px;
  cursor: pointer;
  border: solid rgb(141, 70, 82);
}
.image:hover
{
  transform: scale(1.1);
  transition-duration: 0.3s;
  motion-rotation: 320deg;

}
/* prara class work with css */
.public
{
  display: flex;
  justify-content:center; 
  color: #F5F5DC;
  font-size: large;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* nice class work start here  */
.nice
{
  display: flex;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  color: #F5F5DC;
  cursor: pointer;

}

.nice:hover
{
  scale: 1.1;
transition-duration:  0.3s;
}